@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
:root {
    --font0: "Passion One";
    --font1: "Sriracha", cursive;
}
* {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
    height: 100vh;
    background-color: rgb(203, 203, 108);
    
}


header {
    position: relative;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
}
header > #site_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header h1 {
    font-family: var(--font0);
    font-weight: light;
}
header p > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline brown;
    color: brown;
}


main p {
    font-family: var(--font1);
    margin-left: 2%;
    max-width: 37vw;
    line-height: 2em;
    font-size: 3vw;
}
.fundo_branco {
    background-color: white;
    box-shadow: 1px 1px 2.5px 2px black;
}
.fundo_preto{
    color: white;
    text-shadow: -1px 1.3px 1px rgba(0, 0, 0, 0.64);
}

#sec1 {
    background-image: url('../image/background001.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
#sec2 {
    /* box-shadow: 0px -5px 7px rgba(0, 0, 0, 0.664); */
    background-image: url('../image/background002.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-position: center center;   
}



footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
footer a:hover {
    text-decoration: underline brown;
    color: brown;
}