* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
img {
    width: 100%;
}

a {
    position: sticky;
    bottom: 0px;

    display: block;
    width: 100%;

    box-sizing: border-box;
    padding: 10px 0px 10px 0;
    background-color: lightblue;

    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: black;
}
a:hover {
    text-decoration: underline black;
    background-color: blue;
    transition: background-color .5s;
}
